body {
  background-color: rgb(187, 192, 187);
}

div#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

h5 {
  text-align: center;
}

.card-footer {
  text-align: center;
}
